.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin: 2rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #c1bdba !important;
  border-color: #c1bdba !important;
}
.active {
  cursor: not-allowed;
  pointer-events: none;
}

.message {
  margin-top: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .action {
  display: flex;
  margin-top: 2rem;
  justify-content: right;
}

.form .input {
  display: flex;
  flex-direction: column;
}

.form input {
  text-align: center;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.form input:focus {
  outline: none;
  border-color: #106576;
  background: #f6dbfc;
}

.form.invalid input {
  border-color: red;
  background: #fbdada;
}

.forgot {
  text-align: right;
  display: flex;
  align-self: end;
  margin-right: 6rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.start {
  width: 90%;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ffae00b7;
  border: 1px solid #ffae00b7;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

.form button:hover,
.form button:active {
  background-color: #106576;
  border-color: #106576;
  color: white;
}
